/*
created by kasunrachintha on 9/18/22
@author : kasunrachintha
@Date :  9/18/22
@Time: 11:42 am
@Project : My-Portfolio 
*/


.headline_part1 {
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: black;
}

.headline_part2{
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #7742f7;
}

.fa-solid{
    font-size: 40px;
    color: blue;
}